*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 36px;
    color: skyblue;
}
@media screen and (width < 400px) {
    h1{
        font-size: 20px;
        color:lightcoral;
    }
    
}
@media screen and (width >= 400px) and (width < 900px) {
    h1{
        font-size: 28px;
        color: aqua;
    }
    
}