*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@media screen and (width < 500px) {
     p{
        text-align: center;
        color: aqua;
     }    
}
@media screen and (width >=500px) {
    p{
        text-align: left;
    }
    
}